<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/style.css">
    <script src="/javascripts/jquery.min.js"></script>
    <title>index</title>
</head>
<body class="{{params}}">
<div class="container">
    {{{body}}}
</div>
{{> footer}}
</body>
</html>