<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <label >邮箱</label>
    <input type="text" id="emailInput">
</div>
<div>
    <label >密码</label>
    <input type="password" id="pwdInput">
</div>
<div >
    <button type="submit" id = 'loginIn'>登录</button>
    <a href="javascript:history.go(-1)"><button >注册</button></a>
</div>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/login.js"></script>
</body>

</html>