<form action="/regsiter" method="post">
    <div>
        <label >邮箱</label>
        <input type="text" id="email">
    </div>

    <div>
        <label >密码</label>
        <input type="password" id="pwd">
    </div>
    <div>
        <label >确认密码</label>
        <input type="password" id="repPwd">
    </div>

    <div>
        <label >验证码</label>
        <input type="text" id="check">
        <button id = 'btn'>点击获取邮箱验证码</button>
    </div>


    <span id="text"></span>

    <div >

        <button type="submit" id = 'submit'>注册</button>
    </div>

</form>
<button id = 'login'>登录</button>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/reg.js"></script>
