<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表</title>
</head>
<body>
    {{>header}}
    <div>
        {{{body}}}
    </div>
    {{>footer}}
</body>
</html>