<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Template</title>
</head>
<body class="{{params}}">
  <div class="container">
    {{{body}}}
  </div>
  {{> footer}}
</body>
</html>