<form action="/login" method="post">
  <div>
    <label for="username">用户名:&nbsp</label>
    <input type="text" name="username" id="username" placeholder="请输入用户名" required>
  </div>
  <div>
    <label for="pwd">密码:&nbsp&nbsp&nbsp&nbsp</label>
    <input type="password" name="pwd" id="pwd" placeholder="请输入密码" required>
  </div>
  <div>
    <button type="submit">登录</button>
  </div>
</form>