<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/static/stylesheets/normalize.css" />
  <link rel='stylesheet' href='/static/stylesheets/layout.css' />
  <link rel='stylesheet' href='/static/stylesheets/index.css' />
</head>

<body>
  {{> header}}
  {{{body}}}
  {{> footer}}
</body>

</html>