
<form class="form-horizontal" role="form" action="/login" method="post">
    <div class="form-group">
        <label class="control-label col-sm-1">Email</label>
        <div class="col-sm-5">
            <input type="email" class="form-control"
                   name="email"
                   id="email"
                   placeholder="email@example.com"
                    required/>
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword" class="col-sm-1 control-label">密码</label>
        <div class="col-sm-5">
            <input type="password" class="form-control"
                   name="passwd"
                   id="passwd"
                   placeholder="请输入密码"
                    required/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-1"></label>
        <div class="col-sm-5">
            <input class="btn btn-success" type="submit" id="register" value="登录"></input>
        </div>
    </div>

    <p id="hint"></p>

</form>
