<div>
    <div class="form-group">
        <label for="exampleInputEmail1">邮箱</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                aria-describedby="button-addon2" id="email">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="getCode">获取验证码</button>
            </div>
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">密码</label>
        <input type="password" class="form-control" id="password" placeholder="Input your password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">确认密码</label>
        <input type="password" class="form-control" id="passwordAgain" placeholder="Input your password again">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">验证码</label>
        <input type="text" class="form-control" id="code" placeholder="Code">
    </div>
    <button type="submit" class="btn btn-primary" style="width: 100%;" id="register">提交</button>
</div>