<div>
    <div>
        <label for="email1">邮箱&emsp;&emsp;</label>
        <input type="email" id="email1" name="email1" placeholder="请输入邮箱" required>
    </div>
    <div>
        <label for="code">验证码&emsp;</label>
        <input type="text" id="code" name="code" placeholder="请输入验证码" required>
        <input type="button" id="emialcore" value="获取邮箱验证码" onclick="abc()">
    </div>
    <div>
        <label for="password1">密码&emsp;&emsp;</label>
        <input type="password" id="password1" name="password1" placeholder="输入密码" required>
    </div>
    <div>
        <label for="rePassword">重复密码</label>
        <input type="password" id="rePassword" name="rePassword" placeholder="确认密码密码" required>
    </div>
    <div>
        <button type="submit" id="registerBtn">马上注册</button>
    </div>
</div>

<script>
    function emailTest(email) {
        let reg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        return reg.test(email);
    }
    function abc() {
        let time = 180;//定义180秒的倒计时
        const email = $('#email1').val();//获取输入框的邮箱
        if (!emailTest(email)) {
            alert("请填写正确邮箱");
            return;
        }
        $.get('/register/email', {
            email: email
                },
                function (data) {
                    console.log(data)
                }
        );
        let mytime = setInterval(function () {
            subs();
        }, 1000);
        function subs() {
            time--;
            $('#emialcore').attr("value", "请" + time + "秒后再试");
            if (time === 0) {
                clearInterval(mytime);
                $('#emialcore').attr("value", "发送验证码");
                $('#emialcore').attr("disabled", false);//按键可用
            } else {
                $('#emialcore').attr("disabled", true);//按键不可用
            }
        }
    }
    jQuery(function ($) {
        $("#registerBtn").click(function () {
            var userInfo = {
                email: $("#email1").val(),
                password: $("#password1").val(),
                rePassword: $("#rePassword").val(),
                code: $("#code").val(),
            };
            $.ajax({
                url: "/register",
                type: "post",
                data: userInfo,
                success: function (response) {
                    console.log(response);
                    alert(response.massage);
                    if(response.status==200)window.location.href = '/login';
                },
                error: function (e) {
                    console.log(e);
                }
            })
        });
    })
</script>