<h1>login</h1>
<form action="/login" method="post">
    <div>
        <p>Email<input type="text" name="email" placeholder="请输入邮箱" id="email" /></p>
    </div>
    <div>
        <p>password<input type="password" name="password" placeholder="请输入密码" /></p>
    </div>
    <input type="submit" class="btn">
</form>