{{!-- <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4"> --}}
               <form action="/check" class="form-horizontal" method="post">
                    <div class="form-group mt-3 ml-3">
                        <label for="Email">邮箱地址</label>
                        <div class="input-group mb-3">
                            <input  id="1" type="email" class="form-control" id="Email" placeholder="邮箱地址" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="getCAPTCHA" onclick="check()">获取验证码</button>
                            </div>
                        </div>
                    </div>
               </form>
               <form action="/register" class="form-horizontal" method="post">
                    <div class="form-group mt-3 ml-3">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" placeholder="请输入密码" required>
                    </div>
                    <div class="form-group mt-3 ml-3">
                        <label for="checkPassword">密码</label>
                        <input type="password" class="form-control" id="checkPassword" placeholder="请再输入一次密码" required>
                    </div>
                    <div class="form-group ml-3">
                        <label for="CAPTCHA">验证码</label>
                        <input type="text" class="form-control" id="CAPTCHA" placeholder="验证码" required>
                    </div>
                    <button type="button" class="btn btn-default" id="register">提交</button>
                </form>
            {{!-- </div>
        </div>
    </div> --}}