<body class="{{params}}">
  <nav class="navbar navbar-inverse navbar-fixed-top" id="nav_top">
  <div class="container">
    <form class="navbar-form">
      <p class="navbar-text" style="color:white;"><span class="glyphicon glyphicon-globe"><strong> 注册</strong></span></p>
    </form>
    <!--标识-->
  </div>
</nav>
<!--导航条-->