<h1>登入</h1>
<form action="/login" method="post">
      <div>
        <label for="loginEmail">Email</label>
        <input type="text" name="loginEmail" value="">
      </div>
      <div>
        <label for="loginPsd">密码</label>
        <input type="password" name="loginPsd" value="">
      </div>
      <div>
        <button type="submit">登入</button>
        <a href="/register">注册</a>
      </div>
</form>