<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ex9</title>
    <script src="/javascripts/jquery-3.4.0.min.js">
    </script>
</head>
<body class="{{params}}">
    <header class="main-header">
    </header>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>