<form action="/" method="post">
email:<input type="text" name="email" id='email'><input type="button" id='emailBtn' value="验证邮箱有效性" onclick="sendEmail()"><br/> 
验证码:<input type="text" name="checkCode" id='checkCode'><br/>
密码:<input type="password" name="pwd" id='pwd'><br/>
确认密码:<input type="password" name="comfirmPwd" id='comfirmPwd'><br>
<button type="submit" value="">提交</button>
</form>