body{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;

}
p{
    text-align: center;
    font-family: "宋体","仿宋",sans-serif;
    font-weight: bold;
    font-size: 200%;
    font-style: italic;
    color: red;
    opacity: 0.5;
}

.img1{

    margin: 20px;
    width: 220px;
    height: 220px;
}
.img2{
    margin: 20px;
    width: 220px;
    height: 220px;
}
#change{
    text-align: center;
    text-align: center;
    font-family: "宋体","仿宋",sans-serif;
    font-weight: bold;
    font-size: 150%;
    font-style: italic;
    color: red;
    opacity: 0.5;
    margin: 0 28%;
}