<div>
    <div>
        <label for="Email">邮箱&emsp;&emsp;</label>
        <input type="text" id="email" name="email" placeholder="请输入邮箱">
        <input type="button" id="emialcore" class="btn btn-danger" value="发送验证码" onclick="EmailClick()">
    </div>
    <div>
        <label for="verification">验证码&emsp;</label>
        <input type="text" id="verification" name="verification" placeholder="请输入验证码">
    </div>
    <div>
        <label for="password">密码&emsp;&emsp;</label>
        <input type="password" id="password" name="password" placeholder="请输入密码">
    </div>
    <div>
        <label for="rePassword">重复密码</label>
        <input type="password" id="rePassword" name="rePassword" placeholder="请重复输入密码">
    </div>
    <div>
        <button type="submit" id="registerButton">Register</button>
    </div>
</div>
<script src="../public/javascripts/btnAction.js"></script>