 <form action="/login" method="post">
      <input type="text" name="username" placeholder="邮箱" required>
      <input type="password" name="userpassword" placeholder="密码" required>
      <button type = "Submit">登录</button>
      <a href="/signup"><button type="button">注册</button></a>
      {{#if message}}
      <p>{{message}}</p>
    {{/if}}
 </form>