<form action="/login" method="post">
	<div>
        <label>Email:</label>
        <input type="text" id="email" name="email" placeholder="请输入邮箱">
      
      </div>
     
      <div>
      	<label>密碼:</label>
        <input type="password" name="password" id="password" placeholder="请输入密码">
      </div>
     
      <div>
        <button type="submit" >登录</button>
      </div>
</form>