<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品列表</title>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
    	{{> header}}
    <div>
    	{{{body}}}
    </div>
    	{{> footer}}
</body>
</html>
