<h1>Login</h1>
<div>
    <label for="email">email</label>
    <input type="text" id="email">
</div>
<div>
    <label for="password">密码</label>
    <input type="password" id="password">
</div>
<div>
    <button id="login">登录</button>
    <button id="toSignUp">注册</button>
</div>