<form action="/" method="post">
    用户名：&emsp;
    <input type="text" name="userName" placeholder="UserId" id="userName" required>
    <br><br>
    密码：&emsp;&emsp;
    <input type="password" name="password" placeholder="Password" id="password" required>
    <br><br>
    确认密码：
    <input type="password" name="Cpassword" placeholder="Confirm password" id="Cpassword" required>
    <br><br>
    邮箱：&emsp;&emsp;
    <input type="email" name="email" placeholder="Email" id="email" required>
    <input type="button" value="发送验证码" onclick="countdown()" id="emailsend" >
    <br><br>
    验证码：&emsp;
    <input type="text"  name="confirm" id="confirm" required>
    <br><br>
    <button type = "Submit">Sign up</button>
</form>