<div class="page">
  	<ul class="m-header" id="head">
  		<a href="/home?pageNum={{lastPage}}"><<</a>
  	</ul>
  	<ul class="num">
  		<a href="/home?pageNum=1">1</a>
  		<a href="/home?pageNum=2">2</a>
  		<a href="/home?pageNum=3">3</a>
  		<a href="/home?pageNum=4">4</a>
  		<a href="/home?pageNum=5">5</a>
  		<a href="/home?pageNum=6">6</a>
  		<a href="/home?pageNum=7">7</a>
  	</ul>
  	<ul class="m-header" id="end">
  		<a href="/home?pageNum={{nextPage}}">>></a>
  	</ul>
  </div>