<body>
    <div class="header">
        <h1>用户注册页面</h1>
    </div>
    <form action="/" method="post">
        <input type="text" name="email" placeholder="UserEmail" id="email"/>
        <input type="button" onclick="sendEmail()" id="emailcode" value="获取验证码">
        <input type="text" name="code" placeholder="Code" id="code"/>
        <input type="password" name="password" placeholder="Password"/>
        <input type="password" name="ConfirmPassword" placeholder="ConfirmPassword"/>
        <input type="submit" id="submit" value="提交">
    </form>
</body>

<script>
    function sendEmail() {
        var time = 180;
        const email = $('#email').val();
        console.log(email)
        $.get('/email', {
            email: email
        },
        function (data) {
            console.log(data)
        });
        function f1() {
            time--;
            $("#emailcode").attr("value", "请在" + time + "s后再试");
            if (!time) {
                clearInterval(ct);
                $("#emailcode").attr("value", "发送成功");
                $("#emailcode").attr("disabled", false);
            }
            else {
                $("#emailcode").attr("disabled", true);
            }
        }
        var ct = setInterval(f1, 1000);
    }
</script>

