<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel='stylesheet' href='http://localhost:3000/css/index.css' />
  <title>Product View</title>
</head>
<body class="{{params}}">
  <div class="header">
  {{> header}}
  </div>
  <div class="content">
    {{{body}}}
  </div>
  <div class="footer">
  {{> footer}}
</div>
</body>
</html>
