<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="lib/bootstrap4/bootstrap.min.css">
    <link rel="stylesheet" href="lib/toast/jquery.toast.min.css">
    <style>
        .registerContainer {
            width: 400px;
            height: 500px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <title>注册页面</title>
</head>

<body>
    <script src="lib/jquery-3.4.1.min.js"></script>
    <script src="lib/bootstrap4/popper.min.js"></script>
    <script src="lib/bootstrap4/bootstrap.min.js"></script>
    <script src="lib/toast/jquery.toast.min.js"></script>
    <div class="registerContainer">
        {{{body}}}
    </div>   
</body>

</html>