body {
	padding: 50px;
	font: 30px ;
}

.part label
{
	height: 30px;
	width:200px;
	float:left;
	text-align:right;
	padding-right: 20px;
}

.part input
{
	padding:1px 1px;
	height:30px;
	width: 200px;
}

.btn
{
	width: 120px;
	font-size: 20px;
	margin-left: 60px;
}

.register
{
	width: 120px;
	font-size: 20px;
	margin-left: 250px;
	margin-top: 30px;
}