.header{
    margin-top:20px;
}
.content{
    margin-top:50px;
}
.footer{
    margin-top:50px;
}
.paginationButton{
    margin-top:50px;
    display: flex;
	justify-content: center;
	align-items: center;
}