<div id="formDiv" class="">
    <form id="loginForm" class="inner" action="/logincheck" method="post">
        <h2>登录</h2>
        <input class="comment" type="text" placeholder="邮箱" name="user" />
        <input class="comment" type="password" placeholder="密码" name="password" id="inputPwd"/>
        <input id="login" type="submit"  value="登录"/>
        <a class="signup" href="/signup">没有账号？点击注册</a>
    </form>
</div>