<form action="/" method="post" class="inner">
    <h2>用户注册</h2>
    <div>
        <input type="text" name="username" id="username" class="text" placeholder="用户名">
        <span class="tips"><img class="check" src="" alt="" id="i-username"><p id="t-username"></p></span>
    </div>
    <div>
        <input type="password" name="password" id="password" class="text" placeholder="密码">
        <span class="tips"><img class="check" src="" alt="" id="i-password"><p id="t-password"></p></span>
    </div>
    <div>
        <input type="password" name="confirm" id="confirm" class="text" placeholder="再次输入密码">
        <span class="tips"><img class="check" src="" alt="" id="i-confirm"><p id="t-confirm"></p></span>
    </div>
    <div>
        <input type="text" name="email" id="email" class="text" placeholder="邮箱"><span><input type="button" id="send" value="验证"></span>
        <span class="tips"><img class="check" src="" alt="" id="i-email"><p id="t-email"></p></span>
    </div>
    <div>
        <input type="text" name="code" id="code" class="text" placeholder="验证码">
        <span class="tips"><img class="check" src="" alt="" id="i-code"><p id="t-code"></p></span>
    </div>
    <input type="submit" value="注册" id="submit">
</form>