<form action="/login" method="post">
    <table>
        <tr>
            <td>邮箱：</td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td  colspan="2"><input type="submit" value="登录"></td>
        </tr>
    </table>
</form>