body {
    padding-left: 30px;
    padding-right: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} 
a {
    color: #00B7FF;
}
form{
    text-align: center;
}
label{
    text-align:right;
    display:inline-block;
    width:100px;
}
.div_distance{
    padding-top: 5px;
}
.a{
    border:1px solid #999999;
    padding: 5px 10px;
    margin: 10px;
    text-decoration:none;
}



