<html>
  <body>
    <form action="/login" method="post">
      <label>{{msg}}</label>
      <div class="div_distance">
        <label>用户名</label>
        <input type="text" name="user" value="">
      </div>
      <div class="div_distance">
        <label>密码</label>
        <input type="text" name="password" value="">
      </div>
      <div class="div_distance">
        <button type="submit">登陆</button>
      </div>
    </form>
  </body>
</html>