<form action="/registered" method="post">
    <label>{{msg}}</label>
    <div class="div_distance">
        <label for="email">E-mail</label>
        <input type="text" name="email" id="e_mail" value="">
    </div>

    <div class="div_distance">
        <label for="pwd">密码</label>
        <input type="text" name="pwd" id="pwd" value="">
    </div>

    <div class="div_distance">
        <label for="pwd_again">确认密码</label>
        <input type="text" name="pwd_again" id="pwd_again" value="">
    </div>

    <div class="div_distance">
        <label for="ValidateCode">验证码</label>
        <input type="text" name="ValidateCode" id="VC" value="">
    </div>
    
    <div class="div_distance">
        <input type="button" name="btn" id="btn" value="验证码">
        <button type="submit">立即注册</button>
    </div>
</form>