<div class="container">
    <form>
        <div>
            <label for="email">邮箱</label>
            <input type="text" placeholder="Please input email" id="email">
        </div>
        
        <div>
            <label for="pwd">密码</label>
            <input type="password" id="pwd" placeholder="Input your password">
        </div>     
        
        <div>
            <button type="button" style="width:50%;" id="toRegister">去注册</button>
            <button type="button" style="width:50%;margin-top: 10px" id="toLogin">登陆</button>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="js/login.js"></script>