<table class="goods">
  {{{showProducts entries pageSize pageNumber}}}
</table>

<div class="page">  
    <ul class="pagination">
        {{{showPagination pageNumber pageCount}}}
    </ul>
</div>