<div class="Container">
    <form action="/" method="post">
        <div>
            <label for="email">邮箱</label>
            <input type="text" placeholder="Please input email" id="email">
            <div style="display: inline">
                <button type="button" id="getCode">获取验证码</button>
            </div>
        </div>
        <div>
            <label for="pwd">密码</label>
            <input type="password" id="pwd" placeholder="Input your password">
        </div>
        <div>
            <label for="pwdConfirm">确认密码</label>
            <input type="password" class="form-control" id="pwdConfirm" placeholder="Input your password again">
        </div>
        <div>
            <label for="code">验证码</label>
            <input type="text" id="code" placeholder="Please input the code">
        </div>
        <button type="submit" style="width: 100%;" id="registerBtn">提交</button>
    </form>
</div>