<form action="">
    {{#each person}}
        <div>
            <span>email:&#8194;</span>
            <span>{{this.email}}</span>
            <span>&#8194;&#8194;&#8194;</span>
            <span>password:&#8194;</span>
            <span>{{this.password}}</span>
        </div>
    {{/each}}
</form>