<form action="/login" method="post">
    <div>
        <span>email&#8194;&#8195;</span>
        <input type="text" id="email" name="email" autocomplete="off" required>
    </div>

    <div>
        <span>密码&#8195;&#8195;</span>
        <input type="password" name="password" autocomplete="off" required>
    </div>


    <button type="submit">登录</button>
</form>
