<form action="/user" method="post">
    <div>
        <span>email&#8194;&#8195;</span>
        <input type="text" id="email" name="email" autocomplete="off" required>
        <button type="button" id="getCaptcha">获取验证邮箱有效性(有效时间3分钟)</button>
    </div>

    <div>
        <span>验证码&#8195;</span>
        <input type="text" name="Captcha" autocomplete="off" required>
    </div>

    <div>
        <span>密码&#8195;&#8195;</span>
        <input type="password" name="password" autocomplete="off" required>
    </div>

    <div>
        <span>确认密码</span>
        <input type="password" name="passwordAgain" autocomplete="off" required>
    </div>

    <button type="submit">注册</button>
</form>
