body{
    background-color: #f5f5f5;
}

.inner {
    margin: 2% 30%;
    padding: 2% 8% 4% 8%;
    border: 1px solid LightGrey;
    border-radius: 5px;
    background-color: #ffffff;
}

::placeholder{
    color:#a1a1a1;
    font-size:16px;
}

.text{
    font-size:16px;
    height:20px;
    border-radius:5px;
    border:1px solid #c8cccf;
    display:inline-block;
    outline:0;
    padding:10px;
    width:98%;
    resize:none;
    margin-top:20px;
}

form>H2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-bottom: 20px;
    margin-left: 35%;
    padding: 5px;
    width: 98%;
    color: #666666;
}

.check{
    width:7%;
    transform: translateY(5px);
}

p,a{
    display:inline;
    font-size:16px;
    text-decoration: none;
}

p{
    color:#aaaaaa;
}

#accept{
    margin-top:10px;
}

input[type='submit']{
	background-color: rgb(255, 0, 47);
    font-size: 18px;
    color: #ffffff;
    width:105%;
    margin-top:20px;
    margin-bottom: 20px;
    padding:10px 5px;
    border:none;
    border-radius: 5px;
}

.tips{
    padding-left:10px;
}

footer{
    width:100%;
    height:50px;
    text-align: center;
    line-height: 50px;
    color:white;
    background-color: #333333;
}

header{
    width:100%;
    height:75px;
    text-align: center;
    line-height: 75px;
    color:white;
    background-color: #333333;
}

#email{
    width:55%;
}

#send{
    width: 25%;
    margin-left:11%;
    font-size:16px;
    height:42px;
    border-radius:5px;
    border:1px solid #c8cccf;
    background-color: #ffffff;
}