<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Template</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
</head>
<body>
	<header>
		{{> header}}
	</header>
		
	<body class="{{params}}">
	  <div class="container">
	    {{{body}}}
	  </div>
 
	</body>
	<footer>
		{{> footer}}
	</footer>
</body>
</html>