<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>test8</title>
    <script src="/javascripts/jquery.min.js">
    </script>
</head>
<body class="{{params}}">
<header class="main-header">
</header> <!-- End Header -->
<div class="container">
    {{{body}}}
</div>
</body>
</html>