body{
	text-align: center;
}


.table1{
	margin: auto;
	border-top: 1px solid #fff;
    color: #3b3b3b;
}

.title{
	margin-left: 50px;
	margin-right: 50px;
}

.title2{
	text-align: left;
}

