<body class="{{params}}">
{{> header}}
<div class="container">
		
</div>
<div class="pagelist">
	<ul class="m-header">
		<a href="#" value="first" class="spage"><|</a>
		<a href="#" value="pre" class="spage"><</a>
		<a href="#" value="1" class="page" id="page1">1</a>
		<a href="#" value="2" class="page" id="page2">2</a>
		<a href="#" value="3" class="page" id="page3">3</a>
		<a href="#" value="next" class="spage">></a>
		<a href="#" value="last" class="spage">|></a>
	</ul>
<div>
{{> footer}}
</body>
<script type="text/javascript" src="/js/jquery-3.4.0.js"></script>
<script type="text/javascript" src="/js/js.js"></script>
