<style>
    p#pheader{ 
        color: white;
        font-family:Georgia, 'Times New Roman', Times, serif;
        position: absolute;
        top: 30px;
        left: 35%;
        font-size: 50px;

     
    }
    div#header{
        text-align: center;
    }

</style>

<div id="header">
    <p id="pheader">某公司产品列表页面</p>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> 


