
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  <title>Template</title>
</head>
{{> header}}
<body class="{{params}}">
  <div class="content">
    {{{body}}}
  </div>
  {{> footer}}
</body>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> 

</html>