<div>
    <table border="1">
        <thead>
            <tr>
                <th scope="col">email</th>
                <th scope="col">password</th>
            </tr>
        </thead>
        {{#each user}}
        <tr>
            <td>{{email}}</td>
            <td>{{password}}</td>
        </tr>
        {{/each}}
    </table>
 </div>