<h3>账号登录</h3>
<form action="/login" method="post">
     <div>
         <label for="username">用户名&emsp;</label>
         <input type="text" name="email" id="email" placeholder="请输入用户名">
     </div>
     <div>
         <label for="password">密码&emsp;&emsp;</label>
         <input type="password" name="password" id="password" placeholder="请输入密码">
     </div>
     <div>
         <button type="submit" id="loginButton">登录</button>
     </div>
 </div>
<a href="/register">注册</a><br>
<a href="/admin">admin界面</a><br>