<footer>
    {{!-- <div class="jumbotron jumbotron-fluid footer">
        <p class="text-center">written by YeXichen</p>
    </div> --}}

    <span class="footer1">高庄效贷 | 联系我们 | 服务条款 | 论坛 | 帮助</span>
    <br>
    <span>copyright @ 2019 高庄银行</span>
</footer>