<!DOCTYPE html>
<html>
<head>
	<title>注册</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <style>
      body{
         background-color:#f0f0f0;
      }
      *{
         font-family: Microsoft Yahei;
      }
      .firstpic{
         width:20px;
      }
    </style>
</head>
<body style="height:100%">
	<div class="container index">
		<div class="row rooter">
			<div class="col-lg-12 col-sm-12 text-center">
				footer
			</div>
		</div>
	</div>
</body>
</html>