<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <h1>首页</h1>
    <p>登陆成功，欢迎</p>
  </body>

</html>