body {
    padding-left: 30px;
    padding-right: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} 
a {
    color: #00B7FF;
}
hr{
    margin-top: 50px;
}
.image{
    margin-top: 200px;
    text-align: center;
}
.span{
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid #000000;
    padding: 100px 100px;
}
.pages{
    text-align: center;
    margin-top: 200px;
    
}
.page{
    /* float: left; */
    padding: 6px 12px;
    font-size: 20px;
    text-decoration-line: none;
    border: 1px solid #ddd;
}

