<h1 style="  margin-top: 80px;margin-left: 40%;">home page</h1>
<a href="/login"style="  margin-top: 80px;margin-left: 40%;">/login 登录界面</a><br>
<a href="/register"style="  margin-top: 80px;margin-left: 40%;">/register 注册界面</a><br>
<a href="/admin"style="  margin-top: 80px;margin-left: 40%;">/admin admin界面</a><br>