<div>
    <div style="  margin-top: 80px;margin-left: 40%;">
        <label for="Username">用户名</label>
        <input type="text" name="email" id="email" placeholder="请输入用户名">
    </div>
    <div style="  margin-top: 30px;margin-left: 40%;">
        <label for="password">密码&emsp;</label>
        <input type="password" name="password" id="password" placeholder="请输入密码">
    </div>
    <div style="  margin-top: 30px;margin-left: 40%;">
        <button type="submit" id="loginButton">login</button>
    </div>
</div>

<script>
    jQuery(function ($) {
        $('#loginButton').click(function () {
            let userInfo = {
                email: $('#email').val(),
                password: $('#password').val()
            };
            $.ajax({
                url: "/login",
                type: "post",
                data: userInfo,
                success: function (response) {
                    console.log(response);
                    alert(response.massage);
                    if (response.status === 200) {
                        window.location.href = '/admin';
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            })
        })
    })
</script>