<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    {{#each css}}
        <link rel="stylesheet" href={{this}} />
    {{/each}}
    
</head>
<body>

    {{> header}}
    <hr>
    <div id="content">
        {{{body}}}
    </div>
    <hr>
    {{> footer}}
</body>
</html>
