<!DOCTYPE html>
<html>
  <body>
    <form action="/person" method="post">
      <div><input type="text" name="name" value="tom"></div>
      <div><input type="text" name="age" value="23"></div>
      <div><input type="text" name="nationality" value="23"></div>
      <div><button type="submit">Create new person</button></div>
    </form>
  </body>
</html>