*{
    box-sizing:border-box;
}

body{
    font-size:0.9em;
    position:absolute;
    width:90%;
    height:90%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-attachment:fixed;
    background-size: cover;
}

#container{
    margin-left: 11%;
    margin-top: 40px;
	display:flex;
	flex-direction: column;
	border:2px solid black;
	width: 40%;
	height: 50%;
	box-shadow: 10px 10px 5px #888888;
    border-radius: 10px,10px;
    border-radius:25px 25px;
    background-color: white;
}

#container_{
	padding-left: 11%;
	padding-top: 15%;
}