<!DOCTYPE html>
<html>
  <body>
    <form action="/user" method="post">
      <div><input type="text" name="username" value="tom"></div>
      <div><input type="text" name="password" value="123456"></div>
      <div><button type="submit">Create new user</button></div>
    </form>
  </body>
</html>