<!DOCTYPE html>
<html>

  <head>
    <title>Lab9</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <meta name="referrer" content="no-referrer" />
  </head>

  <body style="padding: 0">
    {{> header}}

    {{{body}}}

    {{> footer}}
    
  </body>
</html>
