<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script type="text/javascript" src="/javascripts/jquery.js"></script>
      <script type="text/javascript" src="/javascripts/staticUrl.js"></script>
      <script type="text/javascript" src="/javascripts/signUp.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
