<div class="container" style="margin-top: 50px">
    <div class="col-md-offset-4 col-lg-offset-4col-xl-offset-4">
        <button onclick="javascript:window.location.href='/register'">
            SignUp
        </button>
        <button onclick="javascript:window.location.href='/login'">
            SignIn
        </button>
    </div>
</div>