
.itembox{
  margin-top: 50px;
  height: 150px;
  width:200px;
  border: 5px solid black;
 
}
.btn_pages{
  margin-top: 120px;
  margin-left:80px;
  font-size: 20px;
}
.btn_pages a{
  display: inline-block;
  padding: 8px 20px;
  border:1px solid black;
  border-radius: 2px;
  color:#333;

}

.clicknow{
  background: red;
}

html, body {
  height: 100%;
}
.header{
	border-bottom:2px solid black;
}
#title{
	text-align: center;
}
.content{
	height: 75%;
	width:100%;
}
.footer{
	height: 25%;
	width: 100%
}
#footer{
	text-align: center;
	border-top:1px solid black;
}
