<form action="/" method="post">
    <br>
    <div class="form-group">
        <label for="Email">Email:&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;</label>
        <input type="text" id="email" name="email" placeholder="Plz enter the email address.">
    </div>
    <div class="form-group">
        <input type="button" id="emialcore" class="btn btn-danger btn-sm" value="Send Verify Code" onclick="EmailClick()">
    </div>
    <div class="form-group">
        <label for="verification">Verify Code:&emsp;&emsp;&ensp;</label>
        <input type="text" name="verification" placeholder="Plz enter the Verify Code.">
    </div>
    <div class="form-group">
        <label for="password">Password:&emsp;&emsp;&emsp;&ensp;</label>
        <input type="password" name="password" placeholder="Plz enter the password.">
    </div>
    <div class="form-group">
        <label for="repeatPwd">Repeat Password:</label>
        <input type="password" name="repeatPwd" placeholder="Repeat your password.">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">SUBMIT NOW</button>
    </div>
</form>