<link rel="stylesheet" href="css/index.css">

<div class="container">
    <div class="content">
      {{#each data}}
      <span class="content-box">{{this}}</span>
      {{/each}}
    </div>
    <div class="page">
      <div class="page-left">
        <a href="/?page=1">&#139;&#139;</a>
      </div>
      <div class="page-body">
        {{#each pageCountList}}
        <a href="/?page={{this}}">{{this}}</a>
        {{/each}}
      </div>
      <div class="page-right">
        <a href="/?page={{pageCount}}">&#155;&#155;</a>
      </div>
    </div>
  </div>