<form action="/login" method="post">
    <div>
        <label for="username">用户名</label>
        <input type="text" id="username" name="username" placeholder="用户名">
    </div>
    <div>
        <label for="password">密码 : </label>
        <input type="text" id="password" name="password" placeholder="密码">
    </div>
    <div>
        <input type="submit" value="登录" id="login_btn">
    </div>
</form>

<p id="info">{{message}}</p>