:root{
    --primary-color: #1890ff;
}

html{
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    background-color: #fafafa;
}

.sign-in-form-container{
    height: 360px;
    width: 280px;
    padding: 20px 40px;

    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.form-item{
    display: flex;
    margin-bottom: 20px;
}

.form-item > input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    outline: none;
}

.form-item > input:focus,
.form-item > input:hover{
    border: 1px solid var(--primary-color);
}

button{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}

.sign-in{
    width: 100%;
    padding: 10px;
}