extends layout

block content
  h1= title
  div
    span email:
    input#email

  div
    span 验证码:
    input#code
    button#sendCode 发送验证码

  div
    span 密码:
    input#password(type="password")

  div
    span 确认密码:
    input#repeatPassword(type="password")

  button#register 注册