<footer class="foot">
    <hr />
    <p style="text-align: center;">copyright &copy;aaa</p>
</footer>

<script src="javascripts/jquery-latest.js"></script>
<script src="javascripts/index.js"></script>
