<div class="header">
    <div class="topnav">
        <a class="logo" href="index.html">
            <img src="image/logo.png" alt="高庄效贷" class="logo">
        </a>
        <span class="title"> | 让信用贷款更简单</span>
        <div class="rightlink">
            <a class="nav-link link" id="index" href="index.html">首页</a>
            <a class="nav-link link" id="loan" href="Apply.html">高庄效贷</a>
            <a class="nav-link link" id="myloan" href="MyLoan.html">我的贷款</a>
            <a class="nav-link link" id="aboutus" href="AboutUs.html">关于我们</a>
            <div class="btn" id="login"><a href="login.html">登录</a> | <a
                    href="register.html">注册</a></div>
        </div>
    </div>
</div>