<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}}</title>

  <link rel='stylesheet' href='/stylesheets/layout.css' />
</head>
<body class="{{params}}">
  {{> header}}
  <div class="container">
    {{{body}}}
  </div>
  {{> footer}}
</body>
</html>