<div class="header">
    {{!-- <h1>产品列表</h1> --}}
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" id="nav_top">
            <div class="container">
                <form class="navbar-form">
                    <p class="navbar-text" style="color:white;">
                        <span class="glyphicon glyphicon-globe">
                            <strong>产品列表</strong></span></p>
                </form>
                {{!-- <span style="color:white;" class="nav_p"> <img
                        src="../img/t.jpg" class="Avatar">管理员</span> --}}
            </div>
        </nav>
        <!--导航条-->
    </div>
</div>