<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>用户注册</title>
  <link rel="stylesheet"  href="stylesheets/style.css"/>
</head>
<body class="{{params}}">
  <div>
    {{> header}}
    
  <div class="container">
    {{{body}}}
    
  <div>
    {{> footer}}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="javascript/var.js"></script>
  <script src="javascript/function.js"></script>
  <script>
    $(btn).click(function(){
      if($(btn).val() == '验证码'){
        ajax();
      }
    //
    var countdown;
    var str =document.cookie.indexOf("countdown=");
    if(str != -1){
      countdown = getCookie('countdown');
      console.log(countdown);
    }
    else{
      countdown = 60;
    }
    function cd(){
      if(countdown == 0){
        $(btn).val('验证码');
        countdown = 60;
        clearInterval(a);
        document.cookie = "countdown=" + countdown;
      }
      else{
        $(btn).val(countdown);
        countdown--;
        document.cookie = "countdown=" + countdown;
      }
    }
    var a = setInterval(cd,1000);
    });
  </script>
</body>
</html>