<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body>
    <form action="/login" method="post">
      <div>
        <label for="email" >邮箱</label>
        <input type="text" name="email" value="" id="email" required>
      </div>
      <div>
        <label for="password" id="password">密码</label>
        <input type="text" name="pwd" value="" required>
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
