
<div class = "header">
    <div class="logoDiv">
        <img src="images/logo.jpg" id="logo">
    </div>
    <h1 id="title">Welcome!</h1>
    <ul id="options">
        <li><a href="#" id="home">首页</a></li>
        <li><a href="#" id="login">登陆</a></li>
        <li><a href="#" id="register">注册</a></li>
    </ul>
</div>
