<h1>登录页面</h1>
<form action="/login" method="post">
    <p>邮箱：<input type="text" name="email" placeholder="UserEmail" id="email"/></p>
    <p>密码：<input type="password" name="password" placeholder="Password"/></p>
    <input type="submit" id="submit" value="登录">
</form>