<form action="/" method="post">
      <div>
        <label for="Email">Email</label>
        <input type="text" id='Email' name="Email" value="">
        <button type="button" id='but_ver_email'>验证邮箱</button>
        <p id="label1" hidden></p>
      </div>
      <div>
        <label for="vc">验证码</label>
        <input type="text" name="vc" value="">
      </div>
      <div>
        <label for="psd">密码</label>
        <input type="password" name="psa" value="">
      </div>
      <div>
        <label for="psdagain">确认密码</label>
        <input type="password" name="psdagain" value="">
      </div>
      <div>
        <button type="submit">注册</button>
      </div>
</form>