<div class="row content">
    {{#each data}}
    <div class="pic col-xs-6 col-md-4"><div class="picc"></div></div>
    {{/each}}
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href=?page=1 aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        {{#each num}}
        <li><a href=?page={{this}}>{{this}}</a></li>
        {{/each}}
        <li>
            <a href=?page={{maxpage}} aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>
</nav>