<ul class="pagination" id="pages">
  <li><a href="/?page=1">«</a></li>
  {{#each pageList}}
    <li><a href="?page={{this}}" class="{{IsActive ../pageId}}">{{this}}</a></li>
  {{/each}}
  <li><a href="/?page={{pageCount}}">»</a></li>
</ul>