<form action="/" method="post">
    <div>
        <label for="email">email</label>
        <input type="text" id="email" name="email" value="">
    </div>
    <div>
        <label for="code">验证码</label>
        <input type="text" name="code" value="">
        <button type="button" id="send_captcha">发送验证码</button>
    </div>
    <div>
        <label for="pwd">密码</label>
        <input type="password" name="pwd" value="">
    </div>
    <div>
        <label for="pwd_again">确认密码</label>
        <input type="password" name="pwd_again" value="">
    </div>
    <div>
        <button type="submit">注册</button>
    </div>
</form>