<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>页面不存在</div>
    <div>可使用的页面为:  </div>
    <div>注册页面：<a href="http://localhost:3000">http://localhost:3000</a></div>
    <div>登录页面：<a href="http://localhost:3000">http://localhost:3000/login</a></div>
    <div>首页页面：<a href="http://localhost:3000">http://localhost:3000/index</a></div>
    <div>查看用户页面：<a href="http://localhost:3000">http://localhost:3000/admin</a></div>
</body>
</html>