<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/content.css" />
    <title>ex7</title>
</head>
<body>
    {{> header}}
    <div class="content" id="content">
        {{{body}}}
    </div>
    {{> footer}}
</body>

<script src="/javascripts/content.js"></script>

</html>