<!DOCTYPE html>
<html>
<head>
    <title>lab8</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
