body{
	margin:0;
	padding:0;
}
#header{
	height:60px;
	width:100%;
	background-color:black;
	color:white;
	line-height:60px;
	text-align:center;
}
#footer{
	height:40px;
	width:100%;
	background-color:black;
	color:white;
	line-height:40px;
	text-align:center;
}
.content{
	overflow:hidden;
}
.page{
	text-align:center;
}
.contentBox{
	float: left;
    height: 40%;
    width: 23.5%;
	margin-left:1%;
	margin-top:10px;
    text-align: center;
    border: 1px black solid;
}
