<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <header>Header</header>
    <div class="main">
        <div class="product-list">
            <div class="product-item">Item</div>
            <div class="product-item">Item</div>
            <div class="product-item">Item</div>
            <div class="product-item">Item</div>
            <div class="product-item">Item</div>
            <div class="product-item">Item</div>
            <div class="product-item">Item</div>
            <div class="product-item">Item</div>
        </div>
        <div class="product-list-pagination">
            <a href="#" class="pagination-button">&lt;</a>
            <a href="#" class="pagination-button">2</a>
            <a href="#" class="pagination-button">3</a>
            <a href="#" class="pagination-button">&gt;</a>
        </div>
    </div>
    <footer>Footer</footer>
</body>
</html>