<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>某兔兔的公司产品列表</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	{{>header}}
	{{{body}}}
	{{>footer}}
</body>
</html>

