<body>
    <h1>用户注册</h1>
    <form action="/" method="post">
        <div>
            <p>Email  <input type="text" name="email" placeholder="请输入邮箱" id="email" />
            </p>
            <input type="button" onclick="sendEmailid()" class="btn btn-danger" id="emailcore" value="发送验证码"><br>
            <p>验证码   <input type="text" name="code" placeholder="请输入验证码" id="code" /></p>
        </div>
        <div>
            <p>密码  <input type="password" name="password" placeholder="请输入密码" /></p>
        </div>
        <div>
            <p>确认密码  <input type="password" name="ConfirmPassword" placeholder="请再次输入密码" /></p>
        </div>
        
        <input type="submit" class="btn">
    </form>
    <footer>
        <div>copyright&copy;lyf</div>
    </footer>
</body>

<script src="/javascripts/lock.js"></script>


