$main_color: #2980b9;

$sec_color: #6dd5fa;

a {
    text-decoration: none;
    color: $main_color;
}

html,
body {
    padding: 0;
    margin: 0;
}

#errorMsg {
    font-size: 12px;
    color: #933;
}

.form-x {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    height: 450px;
    width: 400px;
    padding: 40px 20px;
    border: 15px solid #fff;
    box-shadow: 0 0 1px transparent;
    margin: auto;
    background: #fff;

    #errorMsg {
        height: 20px;
    }

    &::after {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        display: block;
        content: "";
        background: linear-gradient(to right, $main_color, $sec_color);
        z-index: -1;
        filter: blur(20px);
    }

    input {
        border: 1px solid $main_color;
        font-weight: 700;
        border-radius: 4px;
        display: block;
        width: 100%;
        height: 40px;
        padding: 4px 10px;
        margin-bottom: 20px;
        background: #fff;
        box-sizing: border-box;
        outline: none;

        &[type=submit]:hover {
            background: $sec_color;
            transition: .4s;
            cursor: pointer;
            color: #333;
        }

        &[disabled]:hover {
            background: #fff;
            cursor: not-allowed;
        }
    }
}