<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/index.css">
	<title>ex7</title>
</head>
<body >
{{>header}}
<div class="container">
	{{{body}}}
</div>
{{>footer}}

</body>
</html>