<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <form action="/LoginCheck" method="POST">
        <input type="text" name="mail"/>
        <input type="password" name="password"/>
        <button type="submit">登录</button>
    </form>
    <script>
      {{#if context}}
        alert("{{context}}")
      {{/if}}
    </script>
</body>
</html>