<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body>
    <form action="/signup" method="post">
      <input type="text" name="email" placeholder="email" required>
      <input type="text" name="code" placeholder="code" required>
      <input type="password" name="password" placeholder="password" required>
      <input type="password" name="confirm" placeholder="confirm" required>
      <button type="button" id="check">获取验证码</button>
      <button type = "Submit" id="signup">Sign up</button>
    </form>
    <script src="js/jquery.js"></script>
    <script src="js/check.js"></script>
    <script>
      {{#if context}}
        alert("{{context}}")
      {{/if}}
    </script>
  </body>
</html>