<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/layout.css' />
</head>
<body class="{{params}}">
  {{> header}}
  {{{body}}}
  {{> footer}}
</body>
</html>