.header{
    font-size: 15px;
    font-weight: bold;
    font-family: "STSong";
    display: flex;
	background: rgb(111, 160, 221);
    margin-bottom:10px ;
    min-height: 100px;
}
h1{
    word-wrap: break-word;
    display: block;
    color: #fcfbff;
    margin-left: 150px;
    margin-top:25px ;
    justify-content: center;
    align-items: center;
}
